{{!--

	popovers are html fragments that appear inside tip boxes and require an action from the user

	they are aligned to the right edge of the triggering button

	there are various types, and this file combines them all as a single handlebars function.
	only one comparison will match, rather like a switch statement

--}}

{{#compare popover "addcontent"}}
<header onclick="closePopover()">{{label}}</header>
<section class="content-types">
	{{#if actions.page}}
	<fieldset class="ga-common">
	<legend>Pages</legend>
	{{#each actions.page}}{{{icon}}}{{/each}}
	</fieldset>
	{{/if}}
	{{#if actions.interaction}}
	<fieldset class="ga-knowledge">
	<legend>Interactions</legend>
	{{#each actions.interaction}}{{{icon}}}{{/each}}
	</legend>
	{{/if}}

</section>
{{/compare}}

{{#compare popover "audio"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<audio id="popover_audioElement" src="{{audio}}" controls></audio>
	<input type="file" id="pageAudioUpload" style="display:none" onchange="popover_audioUpload(this.files[0])" accept="audio/*;capture=microphone" />
	<div class="audio-nav">
	    <label for="pageAudioNav">Auto-navigate at end of audio?</label>
	    <input id="pageAudioNav" type="checkbox" onchange="popover_audioNavToggle(this.checked)"></input>
    </div>
	<div>
		<button data-action="record-page-audio"><i class="ninja-mic"></i>Record</button>
		<button data-action="upload-page-audio"><i class="ninja-upload3"></i>Upload mp3</button>
		<button data-action="trash-page-audio"><i class="ninja-discard"></i>Remove</button>
	</div>
</section>
{{/compare}}

{{#compare popover "yesno"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<button onclick="handleAction();closePopover();" class="positive"><i class="ninja-thumbs-up"></i>Yes</button>
	<button onclick="closePopover()"><i class="ninja-thumbs-down"></i>No</button>
</section>
{{/compare}}

{{#compare popover "savecancel"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<button onclick="handleAction();closePopover();" class="positive"><i class='ninja-save-disk'></i>Save</button>
	<button onclick="closePopover()"><i class='ninja-close'></i>Cancel</button>
</section>
{{/compare}}

{{#compare popover "videorange"}}
<header onclick="closePopover()">{{label}}</header>
<section class="score_slider_sizing">
	<div class='range-wrap'>
		<input type='range' min='1' max='100' id='range_slider' list='range_list' value='{{value}}' oninput='this.nextElementSibling.textContent=this.value;this.nextElementSibling.style.left="calc("+this.value+"% - 1rem)";'>
		<output class='bubble'>{{value}}</output>
	</div>
	<datalist id='range_list'>{{{pips 100}}}</datalist>
	<div>
		<label><input type='checkbox' value='1' id='score_scrubber'> Show video scrubber</label>
	</div>
	<button onclick="popover_saveRange();"><i class="ninja-thumbs-up"></i>Save</button>
</section>
{{/compare}}

{{#compare popover "score"}}
<header onclick="closePopover()">{{label}}</header>
<section class="score_slider_sizing">
	<div class='range-wrap'>
		<input type='range' min='1' max='{{valueMax}}' id='score_slider' list='score_list' value='{{value}}' oninput='this.nextElementSibling.textContent=this.value;var p=((Number(this.value)*100)/Number(this.max));this.nextElementSibling.style.left="calc("+p+"% - 1rem)";'>
		<output class='bubble'>{{value}}</output>
	</div>
	<datalist id='score_list'>{{{pips valueMax}}}</datalist>
	<button onclick="popover_saveScore();"><i class="ninja-thumbs-up"></i>Save</button>
</section>
{{/compare}}

{{#compare popover "colour"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<input type='hidden' name='color_value' value='58c3f3'>
	<button onclick="previewPageBackground(this.value)" value="#000000" class="colour-dot black" title="Black"><i class="ninja-format_color_fill"></i></button>
	<button onclick="previewPageBackground(this.value)" value="#555555" class="colour-dot dgrey" title="Dark grey"><i class="ninja-format_color_fill"></i></button>
	<button onclick="previewPageBackground(this.value)" value="#bbbbbb" class="colour-dot lgrey" title="Light grey"><i class="ninja-format_color_fill"></i></button>
	<button onclick="previewPageBackground(this.value)" value="#ffffff" class="colour-dot white" title="White"><i class="ninja-format_color_fill"></i></button>
	<input type='color' id='pb_picker' value='#cccccc' oninput="previewPageBackground(this.value)">
	<button onclick="popover_savePageBackground();" style="margin-left:2em"><i class="ninja-save-disk"></i>Save</button>
	<div class="apply-all">
    <label for="colourAll">Apply to all pages</label>
    <input id="colourAll" type="checkbox"></input>
    </div>
</section>
{{/compare}}

{{#compare popover "settings"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<div class="toggle-form">
		<div>
			<input type="checkbox" id="mute" data-action='toggle-mute' checked>
			<label for="mute"><span></span></label>
			<label>Interface sounds</label>
		</div>
		<div>
			<input type="checkbox" id="autosplit" data-action='toggle-no-autosplit' checked>
			<label for="autosplit"><span></span></label>
			<label>Auto-split documents</label>
		</div>
		<div>
			<input type="checkbox" id="autooptimise" data-action='toggle-no-autoresize' checked>
			<label for="autooptimise"><span></span></label>
			<label>Auto-optimise images</label>
		</div>
		<div>
			<input type="checkbox" id="autocenter" data-action='toggle-no-autocenter' checked>
			<label for="autocenter"><span></span></label>
			<label>Auto-centre presentations</label>
		</div>
		<div>
			<input type="checkbox" id="pdftoolbar" data-action='toggle-no-pdftoolbar'>
			<label for="pdftoolbar"><span></span></label>
			<label>Add PDF toolbar</label>
		</div>
		<div>
			<input type="checkbox" id="pdfembed" data-action='toggle-no-pdfembed'>
			<label for="pdfembed"><span></span></label>
			<label>Allow PDF downloading</label>
		</div>
	</div>
</section>
{{/compare}}

{{#compare popover "layout"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<fieldset class="radio-panel">
		<legend>Alignment</legend>
		<div class="grid-h grid-2">
			<label>
				<input type="radio" name="alignment" value="left" checked data-action='set-layout' onclick='popover_setLayout(this.value)'>
				<i class="ninja-format_align_left"></i>
				<p>Left</p>
			</label>
			<label>
				<input type="radio" name="alignment" value="center" data-action='set-layout' onclick='popover_setLayout(this.value)'>
				<i class="ninja-format_align_center"></i>
				<p>Centre</p>
			</label>
{{!--			<label>
				<input type="radio" name="alignment" value="justify">
				<i class="ninja-format_align_justify"></i>
				<p>Fill</p>
			</label> --}}
		</div>
	</fieldset>
</section>
{{/compare}}

{{#compare popover "attachments"}}
<header onclick="closePopover()">{{label}}</header>
<section>
	<input type="file" id="fileAttachUpload" style="display:none" onchange="popover_attachFiles(this.files[0])" />
	<div class="file-list" id="page-file-attachments"></div>
	<div>
		<button data-action="upload-page-attachments"><i class="ninja-upload3"></i>Attach file</button>
		<button data-action="trash-page-attachments"><i class="ninja-discard"></i>Remove all</button>
	</div>

</section>
{{/compare}}
