<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns="http://www.imsglobal.org/xsd/imscp_v1p1" xmlns:imsmd="http://ltsc.ieee.org/xsd/LOM" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_v1p3" xmlns:imsss="http://www.imsglobal.org/xsd/imsss" xmlns:adlseq="http://www.adlnet.org/xsd/adlseq_v1p3" xmlns:adlnav="http://www.adlnet.org/xsd/adlnav_v1p3" identifier="MANIFEST-{{timestamp}}" xsi:schemaLocation="http://www.imsglobal.org/xsd/imscp_v1p1 imscp_v1p1.xsd http://ltsc.ieee.org/xsd/LOM lom.xsd http://www.adlnet.org/xsd/adlcp_v1p3 adlcp_v1p3.xsd http://www.imsglobal.org/xsd/imsss imsss_v1p0.xsd http://www.adlnet.org/xsd/adlseq_v1p3 adlseq_v1p3.xsd http://www.adlnet.org/xsd/adlnav_v1p3 adlnav_v1p3.xsd">
  <metadata>
    <schema>ADL SCORM</schema>
    <schemaversion>2004 4th Edition</schemaversion>
    <imsmd:lom>
      <imsmd:general>
        <imsmd:title>
          <imsmd:string>{{option-course-name}}</imsmd:string>
        </imsmd:title>
        <imsmd:language>en</imsmd:language>
        <imsmd:description>
          <imsmd:string><![CDATA[{{option-course-description}}]]></imsmd:string>
        </imsmd:description>
      </imsmd:general>
    </imsmd:lom>
  </metadata>
  <organizations default="O{{timestamp}}">
    <organization identifier="O{{timestamp}}" structure="hierarchical">
      <title>{{option-course-name}}</title>
      <item identifier="I{{timestamp}}" identifierref="R{{timestamp}}" isvisible="true">
        <title>{{option-course-name}}</title>
      </item>
      <imsss:sequencing>
        <imsss:controlMode choiceExit="true" flow="true" />
        <imsss:deliveryControls completionSetByContent="true" objectiveSetByContent="false" />
      </imsss:sequencing>
    </organization>
  </organizations>
  <resources>
    <resource identifier="R{{timestamp}}" adlcp:scormType="sco" type="webcontent" href="index.html">
      <file href="index.html" />
      <file href="_package.js" />
      <file href="_package.css" />
      {{#each pages}}<file href="{{href}}" />
      {{/each}}
    </resource>
  </resources>
</manifest>