<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="preconnect" href="https://polyfill.io">
	<link rel="preconnect" href="https://cdnjs.cloudflare.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
	<link id="gfont" href="https://fonts.googleapis.com/css2?family={{urlencode css.headerFont}}&family={{urlencode css.bodyFont}}&display=swap" rel="stylesheet">
	<style>
    :root {
	  --headerFont: '{{css.headerFont}}';
	  --bodyFont: '{{css.bodyFont}}';
	  --color-initial: #fff;
	  --color-primary: {{css.color-primary}};
	  --color-secondary: {{css.color-secondary}};
	  --color-header: {{css.color-header}};
	  --color-tertiary: #f4f5f6;
	  --color-quaternary: #d1d1d1;
	  --color-quinary: #e1e1e1;
	}

	{{{inject "plugins/Markdown/milligram.css"}}}

	body {
		background-color: #{{backgroundColour}};
		margin-top: 1rem;
	}
	.container {
		background-color: #ffffff;
	}
/*	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	    padding: 0;
	    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	}
*/	</style>
	<script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js"></script>
	<script type="text/javascript">function doOnLoad(fn) { if (window.addEventListener) { window.addEventListener('load', fn, false); } else { window.attachEvent('onload', fn); }}</script>
	<script type="text/javascript">
	var init = (function(){
		var qs = window.location.search.split("?")[1] ? window.location.search.split("?")[1].split(",") : [0,0];
		return {
			seconds: Math.max(0,+qs[0]||0),
			index: qs[1] ? +qs[1] : -1
		}
	})();
	function incr() {
		parent.dispatchEvent(new CustomEvent("statuschange", {detail: init}));
		init.seconds += 1; // time spent on page, in seconds
		setTimeout(incr, 1000);
	}
	doOnLoad(incr);
	</script>
</head>
<body>
	<main class="wrapper">
		<section class="container">{{{html}}}</section>
	</main>
</body>
</html>