<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{quiz_json.title}}</title>
<style>
{{!-- minify the _build.css, then break after curlies for readability, make sure you replace #3273dc with {{tint_colour}} --}}
a:active,a:focus,a:hover{outline:0}
.button,body{background-color:#fff}
.button,p.text-center{text-align:center}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;font-size:16px}
a{text-decoration:none}
a:focus{box-shadow:inset 0 1px 2px rgba(10,10,10,.2)}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
h1{font-size:2em;font-weight:400}
button,input{font-family:inherit;font-size:100%;margin:0;line-height:normal;text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
header,main,nav{margin:0 10vw}
div.question{padding-top:15px;padding-bottom:15px}
.button{-moz-appearance:none;-webkit-appearance:none;align-items:center;border:1px solid #dbdbdb;border-radius:4px;box-shadow:none;display:inline-flex;height:2.25em;line-height:1.5;color:#363636;cursor:pointer;justify-content:center;padding-bottom:calc(.375em - 1px);padding-left:.75em;padding-right:.75em;padding-top:calc(.375em - 1px);white-space:nowrap}
.button.active{border:1px solid {{tint_colour}};background-color:{{tint_colour}};color:#fff;box-shadow:inset 0 0 0 1px #fff}
.button.positive{border:1px solid #32dc4a;background-color:#32dc4a;color:#fff}
.button.negative{border:1px solid #dc3232;background-color:#dc3232;color:#fff}
.button.negative.active,.button.positive.active{border:1px solid #3273dc}
button.hidden{display:none}
nav{display:flex}
nav>a:not(:first-of-type){margin-left:4px}
nav>.spacer{flex-grow:1}
.control{font-size:inherit;position:relative;display:block;margin-bottom:30px;padding-left:30px;cursor:pointer}
.control input{position:absolute;z-index:-1;opacity:0}
.control__indicator{position:absolute;top:2px;left:0;width:20px;height:20px;background:#f4f4f4}
.control--radio .control__indicator{border-radius:4px}
.control div.answer,.control input:focus~.control__indicator,.control:hover input~.control__indicator{background:#f4f4f4}
.control input:checked~.control__indicator,.control input:disabled:checked~.answer,.control input:disabled:checked~.control__indicator{background:{{tint_colour}};}
.control.positive input:checked~.answer,.control.positive input:checked~.control__indicator{background:#32dc4a}
.control.negative input:checked~.answer,.control.negative input:checked~.control__indicator{background:#dc3232}
.control input:checked:focus~.control__indicator,.control input:checked~.answer,.control:hover input:not([disabled]):checked~.control__indicator{background:{{tint_colour}};color:#fff}
.control input:disabled~.answer,.control input:disabled~.control__indicator{pointer-events:none;opacity:.6;background:#dbdbdb}
.control--radio .control__indicator:after{top:7px;left:7px;width:6px;height:6px;border-radius:50%;background:#fff}
.control__indicator:after{position:absolute;display:none;content:''}
.control input:checked~.control__indicator:after{display:block}
.control--checkbox .control__indicator:after{top:3px;left:7px;width:6px;height:12px;transform:rotate(45deg);border:solid #fff;border-width:0 4px 4px 0}
.control--checkbox input:disabled~.control__indicator:after{border-color:#7b7b7b}
div.answer,div.feedback{border-radius:4px;padding:.25em 1em}
.control div.answer+div.feedback{margin-top:.5em}
div.feedback.none{background-color:#dbdbdb;border:1px solid #7b7b7b}
div.feedback.positive{background-color:#c6eac6;border:1px solid #a2dda2}
div.feedback.negative{background-color:#f8ecec;border:1px solid #eac7c7}
.actions p{padding-left:30px}
.actions.resit p{padding-left:0}
.hidden{display:none}
</style>
<script type="text/javascript">
{{!-- do not modify this line --}}
var qs=window.location.search.split("?")[1]?window.location.search.split("?")[1].split(","):["[]",0],_userdata=JSON.parse(unescape(qs[0]?qs[0]:"[]")),_page_index=qs[1]?qs[1]:-1,setup={{{json quiz_json}}};

{{!-- minify the script marked in _build.html and then paste it in below --}}
function emitStatus(e){parent.dispatchEvent(new CustomEvent("statuschange",{detail:e}))}function shuffle(e){for(var t=e.length-1;0<t;t--){var n=Math.floor(Math.random()*(t+1)),r=[e[n],e[t]];e[t]=r[0],e[n]=r[1]}}function get_control_type(e,t,n){return t=Math.floor(Math.log(e.required)/Math.LN2)+1,-1===Array.apply(null,new Array(t)).map(function(e,t){return Math.pow(2,t)}).indexOf(e.required)?"checkbox":"radio"}function initQB(e,t){var n=JSON.parse(JSON.stringify(t.questions));function r(){return n.reduce(function(e,t){return e+(t.answer===t.required?1:0)},0)}function i(e){var r=0===e.answer?"none":e.answer===e.required?"positive":"negative";[].forEach.call(document.querySelectorAll("div.answers .positive, div.answers .none, div.answers .negative"),function(e){e.classList.remove("positive","negative","none")});var i=document.querySelector("div.answers div.feedback");i&&i.parentNode.removeChild(i);var c,d=document.querySelectorAll("div.answers input:checked");0===d.length&&e.feedback.none&&e.feedback.none.length&&((c=document.createElement("div")).classList.add("feedback","none"),c.innerHTML="<p>"+e.feedback[r]+"</p>",document.querySelector("div.answers").appendChild(c));([].forEach.call(d,function(e){e.parentNode.classList.add(r)}),e.feedback[r].length&&d.length>0)&&((c=document.createElement("div")).classList.add("feedback"),c.classList.add(r),c.innerHTML="<p>"+e.feedback[r]+"</p>",document.querySelector("div.answers").appendChild(c));if("answer"===t.feedback&&!a()){var o=document.querySelector("nav>a.active"),u=o.getAttribute("href").replace(/\#/,"");n[u].answer>0&&o.classList.add(n[u].answer===n[u].required?"positive":"negative")}if("complete"===t.feedback&&a()||"answer"===t.feedback&&a())for(var s=document.querySelectorAll("nav>a"),l=0;l<n.length;l++)n[l].answer>0&&s[l].classList.add(n[l].answer===n[l].required?"positive":"negative")}function a(){var e=!0;return n.forEach(function(t){!1===t.locked&&(e=!1)}),e}function c(c){[].forEach.call(document.querySelector("nav").children,function(e,t){e.classList[t===c?"add":"remove"]("active")}),n[c].answer=e.find(function(e){return n[c].uid===e[0]})[1],n[c].answer>0&&n[c].distractors.forEach(function(e){e.value===n[c].answer&&(e.checked=!0)}),document.querySelector("main").innerHTML=tmpl("main",{page:c,feedback:t.feedback,data:n,action:""}),n[c].locked&&("answer"===t.feedback||"complete"===t.feedback&&!0===a())&&i(n[c]),document.querySelector(".answers").addEventListener("change",function(t){e.find(function(e){return n[c].uid===e[0]})[1]="radio"===t.target.getAttribute("type")?~~t.target.value:[].reduce.call(document.querySelectorAll("div.answers :checked"),function(e,t){return e+~~t.value},0)},!1);var d=document.querySelector("div.actions a[href='#next']"),o=document.querySelector("div.actions a[href='#submit']");"complete"!==t.feedback&&"false"!==t.feedback||(d&&d.classList.remove("hidden"),o.classList.add("hidden"),d.addEventListener("click",function(e){e.preventDefault();var t=n[~~e.target.dataset.index];t.locked||(t.answer=[].reduce.call(document.querySelectorAll("div.answers input"),function(e,n){var r=~~n.value,i=n.checked;return t.distractors.find(function(e){return e.value===r}).checked=i,e+(i?r:0)},0),document.querySelector("nav>a.active").nextElementSibling.click())},!1)),"answer"===t.feedback&&(d&&d.addEventListener("click",function(e){e.preventDefault(),document.querySelector("nav>a.active").nextElementSibling.click()}),n[c].locked&&(o&&o.classList.add("hidden"),d&&d.classList.remove("hidden")),o&&o.addEventListener("click",function(a){a.preventDefault();var c,d=n[~~a.target.dataset.index];d.locked||(d.answer=[].reduce.call(document.querySelectorAll("div.answers input"),function(e,t){var n=~~t.value,r=t.checked;return d.distractors.find(function(e){return e.value===n}).checked=r,e+(r?n:0)},0),a.target.classList.add("hidden"),a.target.nextElementSibling.classList.remove("hidden"),i(d),(c=d).locked=!0,[].forEach.call(document.querySelectorAll("div.answers input"),function(e){e.setAttribute("disabled","disabled")}),e.find(function(e){return c.uid===e[0]})[1]=c.answer,emitStatus({index:_page_index,status:"answer",userdata:JSON.stringify(e),score:r(),required:t.required}))},!1))}t.show>n.length&&(t.show=n.length),t.required>t.show&&(t.required=t.show),0===e.length&&(t.randomise&&shuffle(n),n.splice(t.show),e=n.map(function(e,t){e.answer=0,e.locked=!1;var n=e.distractors.map(function(t,n){return t.index=n,t.required=(e.required&Math.pow(2,n))>0,t}),r=[];if(e.show<e.distractors.length){shuffle(n);for(t=0;t<n.length;t++)!0===n[t].required&&r.push(n[t].index);for(t=r.length;r.length<e.show;t++)-1===r.indexOf(n[t].index)&&r.push(n[t].index);shuffle(r)}else for(t=0;t<n.length;t++)r.push(n[t].index);return[e.uid,0,r]})),emitStatus({index:_page_index,status:"init",userdata:JSON.stringify(e),score:0,required:t.required}),n=e.map(function(e){var n=e[0],r=e[1],i=t.questions.find(function(e){return e.uid===n}),a=i.distractors,c=e[2],d=[];i.answer=r,i.locked="answer"===t.feedback&&r>0;for(var o=0;o<c.length;o++){var u=a[c[o]];u.value=Math.pow(2,c[o]),(r&u.value)>0&&(u.checked=!0),d.push(u)}return i.distractors=d,i}),document.querySelector("header").innerHTML=tmpl("header",t),nav=document.querySelector("nav"),nav.addEventListener("click",function(i){var d=i.target.getAttribute("href");if(!d)return;if("#results"===d)!function(){var i=e.reduce(function(e,t){return e+(t[1]>0?1:0)},0);if(!1===a()){var d="false"!==t.feedback&&"complete"!==t.feedback||i!=n.length?"You haven't answered all the questions. Do you want to finish the quiz?":"Do you want to finish the quiz?";if(!window.confirm(d)){var o=document.querySelector("nav>a.active"),u=[].indexOf.call(o.parentNode.children,o);return c(u)}}"complete"===t.feedback&&[].forEach.call(document.querySelector("nav").children,function(t,r){if("#results"!==t.getAttribute("href")){var i=n[r],a=e.find(function(e){return i.uid===e[0]})[1];i.locked=!0,i.answer=a,t.classList.add(0===i.answer?"none":i.answer===i.required?"positive":"negative")}});[].forEach.call(document.querySelector("nav").children,function(e,t){e.classList["#results"===e.getAttribute("href")?"add":"remove"]("active")});var s=r();t.finished=!0,n.forEach(function(e){e.locked=!0}),document.querySelector("main").innerHTML=tmpl("endpage",{score:s,total:t.show,required:t.required,resit:t.resit});var l=document.querySelector("div.actions a[href='#resit']");l&&l.addEventListener("click",function(e){e.preventDefault(),window.confirm("Do you want to resit the quiz?")&&(emitStatus({index:_page_index,status:"resit",userdata:[],score:0,required:t.required}),-1===window.location.href.indexOf("blob")&&(window.location.href=[window.location.origin,window.location.pathname,"?%5B%5D,",_page_index].join("")))},!1);emitStatus({index:_page_index,status:"term",userdata:JSON.stringify(e),score:s,required:t.required})}();else{var o=~~d.replace(/\#/,""),u=~~document.querySelector("nav>a.active").getAttribute("href").replace(/\#/,"");o!==u&&c(o)}},!1),nav.innerHTML=tmpl("navigation",{questions:e}),c(0)}!function(){var e={};this.tmpl=function t(n,r){var i=/\W/.test(n)?new Function("obj","var p=[],print=function(){p.push.apply(p,arguments);};with(obj){p.push('"+n.replace(/[\r\t\n]/g," ").split("<%").join("\t").replace(/((^|%>)[^\t]*)'/g,"$1\r").replace(/\t=(.*?)%>/g,"',$1,'").split("\t").join("');").split("%>").join("p.push('").split("\r").join("\\'")+"');}return p.join('');"):e[n]=e[n]||t(document.getElementById(n).innerHTML);return r?i(r):i}}(),Array.prototype.find=Array.prototype.find||function(e){if(null===this)throw new TypeError("Array.prototype.find called on null or undefined");if("function"!=typeof e)throw new TypeError("callback must be a function");for(var t=Object(this),n=t.length>>>0,r=arguments[1],i=0;i<n;i++){var a=t[i];if(e.call(r,a,i,t))return a}},window.startQuiz=function(e){initQB(e,JSON.parse(JSON.stringify(setup)))},window.addEventListener("load",window.startQuiz.bind(null,_userdata),!1);
</script>
<body>
	<header></header>
	<nav></nav>
	<main></main>

	<script type="text/html" id="header">
		<h1><%=title%></h1>
	</script>

	<script type="text/html" id="navigation">
		<% for (var i=0; i < questions.length; i++) { %>
		<a href="#<%=i%>" class="button"><%=(i+1)%></a>
		<% } %>
		<a href="#results" class="button">{{buttons.results}}</a>
	</script>

	<script type="text/html" id="main">
		<div class="question">
			<%=data[page].media%>
			<br>
			<%=data[page].text%>
		</div>
		<div class="answers">
			<% for (var i=0, controlType = get_control_type(data[page]); i < data[page].distractors.length; i++ ) { %>
			<label class="control control--<%=controlType%>">
				<input type="<%=controlType%>" name="answer" value="<%=data[page].distractors[i].value%>" <% if (data[page].distractors[i].checked) { %>checked="checked"<% } %> <% if (data[page].locked) { %>disabled="disabled"<% } %>/>
				<div class="answer">
					<%=data[page].distractors[i].text%>
				</div>
				<div class="control__indicator"></div>
			</label>
			<% } %>

		</div>
		<div class="actions">
			<p><a href="#submit" class="button" data-index="<%=page%>">{{buttons.check}}</a> <a href="#next" data-index="<%=page%>" class="button hidden">{{buttons.next}}</a></p>
		</div>
	</script>

	<script type="text/html" id="endpage">
		{{{quiz_json.strings.completion}}}
		<% if ((score < required) && resit) { %>
		<div class="actions resit">
			<p><a href="#resit" class="button">{{buttons.resit}}</a></p>
		</div>
		<% } %>
	</script>
</body></html>